<header class="header">
	<link rel="shortcut icon" href="/favicon.ico">
	<div id="top"></div>
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/about.html">about</a>
				</li>			
			{% endif %}
			{% if page.path == "team.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/team.html">meet the team</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/team.html">meet the team</a>
				</li>			
			{% endif %}
			{% if page.path == "documentation.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/documentation.html">documentation</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/documentation.html">documentation</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ site.baseurl }}/archive.html">archive</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>
	</div>
</header>
